<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBapplication.Properties.Settings.ConnectionString"
        connectionString="Data Source=DESKTOP-74T3DFN\SQLEXPRESS;Initial Catalog=PROJECTFinal;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>